/* SCSS */
/* line 5, ../scss/global.scss */
body {
  font-family: "Segoe UI", sans-serif;
  color: #555555; }

/* line 9, ../scss/global.scss */
.page-wrap {
  width: 1024px;
  margin: 0 auto;
  text-align: center; }

/* line 14, ../scss/global.scss */
.page-wrap img {
  width: 400px;
  height: auto; }

/* line 18, ../scss/global.scss */
.page-wrap a {
  color: #0072c6; }

/* line 21, ../scss/global.scss */
.page-wrap h1 {
  font-size: 28px; }
